<!-- wrapper -->
<div class="wrapper">
  <div class="authentication-reset-password d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="card">
          <div class="row g-0">
            <div class="col-lg-5 border-end">
              <div class="card-body">
                <div class="p-5">
                  <div class="text-start">
                    <img src="assets/images/logo-img.png" width="180" alt="">
                  </div>
                  <h4 class="mt-5 font-weight-bold">Login</h4>
                  <p class="text-muted">Welcome To Zyn Management </p>

                  <div class="mb-3 mt-5">
                    <label class="form-label">Email or Username</label>
                    <input type="text" class="form-control" placeholder="Enter Email or Username"  [(ngModel)]="username" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="text" class="form-control" placeholder="password" [(ngModel)]="password" />
                  </div>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
                    <a href="https://www.linkedin.com/in/zakaria-daoudi/"><p>All Right Reserved  © to ZYNCompany</p></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">

              <img src="assets/images/login-images/Login-Page.jpg" class="card-img login-img h-100" alt="...">
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end wrapper -->
